<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="App" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="App" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="App" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="App" class="no-js"> <!--<![endif]-->
  <head>
    <title>Laurie's Gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- build:css /styles/minified.css-->
        <link rel='stylesheet' href='/styles/main.css' />
        <!-- endbuild -->

  </head>
  <body>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="gallery" ng-controller="Scene as Scene">

        <div class="loader" loader="Scene.progress"></div>

        <div class="scene-container" slider="Scene.actualScene" scenes="Scene.scenes">
            <div class="scene" ng-repeat="scene in Scene.scenes">

                <div class="wall">
                    <div class="vp"><!--
                    --><div class="vc">
                            <div class="h-center">
                                <div class="art-container">
                                    <img ng-if="scene.img" ng-src="/images/{{scene.img}}"/>
                                    <p>{{scene.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="floor"></div>
                <div class="left slide-region" ng-mouseenter="Scene.prev()" ng-mouseleave="Scene.cancel()"></div>
                <div class="right slide-region" ng-mouseenter="Scene.next()" ng-mouseleave="Scene.cancel()"></div>
            </div>
        </div>
    </div>


    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <!-- build:js /js/main.js-->
    <script src="/components/lodash/dist/lodash.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-animate/angular-animate.js"></script>
    <script src="/components/angular-touch/angular-touch.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/scene.js"></script>
    <script src="/js/directives/slider.js"></script>
    <script src="/js/directives/loader.js"></script>
    <!-- endbuild -->
  </body>
</html>
